@{
    ViewData["Title"] = "صفحه اصلی";
}

<main class="page-content">
    <div class="container">
        <div class="shadow-around">
            <div class="table-responsive">
                <table class="table compare-table product-detail text-center mb-0">
                    <tbody>
                        <tr class="pr_image">
                            <td class="row_title">تصویر محصول</td>
                            <td class="row_img">
                                <img src="~/theme/assets/images/products/028.jpg" class="img-fluid"
                                     alt="compare-img">
                            </td>
                            <td class="row_img">
                                <img src="~/theme/assets/images/products/035.jpg" class="img-fluid"
                                     alt="compare-img">
                            </td>
                            <td class="row_img">
                                <img src="~/theme/assets/images/products/026.jpg" class="img-fluid"
                                     alt="compare-img">
                            </td>
                        </tr>
                        <tr class="pr_title">
                            <td class="row_title">نام محصول</td>
                            <td class="product-title">
                                <h1>
                                    <a href="#">
                                        گوشی موبایل سامسونگ مدل Galaxy A30s
                                        SM-A307FN/DS دو سیم کارت ظرفیت 32 گیگابایت
                                    </a>
                                </h1>
                            </td>
                            <td class="product-title">
                                <h1>
                                    <a href="#">
                                        گوشی موبایل سامسونگ مدل Galaxy A30s
                                        SM-A307FN/DS دو سیم کارت ظرفیت 32 گیگابایت
                                    </a>
                                </h1>
                            </td>
                            <td class="product-title">
                                <h1>
                                    <a href="#">
                                        گوشی موبایل سامسونگ مدل Galaxy A30s
                                        SM-A307FN/DS دو سیم کارت ظرفیت 32 گیگابایت
                                    </a>
                                </h1>
                            </td>
                        </tr>
                        <tr class="pr_price">
                            <td class="row_title">قیمت محصول</td>
                            <td class="product-price">
                                <div class="product-price-info justify-content-center">
                                    <div class="product-price-off">
                                        %10 <span>تخفیف</span>
                                    </div>
                                    <div class="product-price-prev">
                                        3,216,000
                                    </div>
                                </div>
                                <div class="product-price-real text-center">
                                    <div class="product-price-raw">2,894,400 </div>
                                    تومان
                                </div>
                            </td>
                            <td class="product-price">
                                <div class="product-price-info justify-content-center">
                                    <div class="product-price-off">
                                        %10 <span>تخفیف</span>
                                    </div>
                                    <div class="product-price-prev">
                                        3,216,000
                                    </div>
                                </div>
                                <div class="product-price-real text-center">
                                    <div class="product-price-raw">2,894,400 </div>
                                    تومان
                                </div>
                            </td>
                            <td class="product-price">
                                <div class="product-price-info justify-content-center">
                                    <div class="product-price-off">
                                        %10 <span>تخفیف</span>
                                    </div>
                                    <div class="product-price-prev">
                                        3,216,000
                                    </div>
                                </div>
                                <div class="product-price-real text-center">
                                    <div class="product-price-raw">2,894,400 </div>
                                    تومان
                                </div>
                            </td>
                        </tr>
                        <tr class="pr_rating">
                            <td class="row_title">امتیاز محصول</td>
                            <td>
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 65%;"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 65%;"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 65%;"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="pr_add_to_cart">
                            <td class="row_title">افزودن به سبد خرید</td>
                            <td class="row_btn">
                                <a href="#" class="add-to-cart">
                                    افزودن به سبد خرید
                                </a>
                            </td>
                            <td class="row_btn">
                                <a href="#" class="add-to-cart">
                                    افزودن به سبد خرید
                                </a>
                            </td>
                            <td class="row_btn">
                                <a href="#" class="add-to-cart">
                                    افزودن به سبد خرید
                                </a>
                            </td>
                        </tr>
                        <tr class="description">
                            <td class="row_title">توضیحات محصول</td>
                            <td class="row_text">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                    طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                    لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
                                    بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
                                    آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت
                                    بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در
                                    زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود
                                    در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
                                    حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                                    اساسا مورد استفاده قرار گیرد.
                                </p>
                            </td>
                            <td class="row_text">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                    طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                    لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
                                    بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
                                    آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت
                                    بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در
                                    زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود
                                    در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
                                    حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                                    اساسا مورد استفاده قرار گیرد.
                                </p>
                            </td>
                            <td class="row_text">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                    طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                    لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
                                    بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
                                    آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت
                                    بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در
                                    زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود
                                    در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
                                    حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                                    اساسا مورد استفاده قرار گیرد.
                                </p>
                            </td>
                        </tr>
                        <tr class="pr_color">
                            <td class="row_title">رنگ بندی</td>
                            <td class="row_color">
                                <div class="product_color_switch">
                                    <span data-color="#87554B"
                                          style="background-color: rgb(135, 85, 75);"></span>
                                    <span data-color="#333333"
                                          style="background-color: rgb(51, 51, 51);"></span>
                                    <span data-color="#DA323F"
                                          style="background-color: rgb(218, 50, 63);"></span>
                                </div>
                            </td>
                            <td class="row_color"></td>
                            <td class="row_color">
                                <div class="product_color_switch">
                                    <span data-color="#333333"
                                          style="background-color: rgb(51, 51, 51);"></span>
                                    <span data-color="#7C502F"
                                          style="background-color: rgb(124, 80, 47);"></span>
                                    <span data-color="#2F366C"
                                          style="background-color: rgb(47, 54, 108);"></span>
                                    <span data-color="#874A3D"
                                          style="background-color: rgb(135, 74, 61);"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="pr_stock">
                            <td class="row_title">موجود یا ناموجود</td>
                            <td class="row_stock"><span class="in-stock">موجود است</span></td>
                            <td class="row_stock"><span class="out-stock">موجود نیست</span></td>
                            <td class="row_stock"><span class="in-stock">موجود است</span></td>
                        </tr>
                        <tr class="pr_weight">
                            <td class="row_title">وزن</td>
                            <td class="row_weight">166 گرم</td>
                            <td class="row_weight">166 گرم</td>
                            <td class="row_weight">166 گرم</td>
                        </tr>
                        <tr class="pr_dimensions">
                            <td class="row_title">ابعاد</td>
                            <td class="row_dimensions">7.8 × 74.7 × 158.5 میلی‌متر</td>
                            <td class="row_dimensions">7.8 × 74.7 × 158.5 میلی‌متر</td>
                            <td class="row_dimensions">7.8 × 74.7 × 158.5 میلی‌متر</td>
                        </tr>
                        <tr class="pr_remove">
                            <td class="row_title"></td>
                            <td class="row_remove">
                                <a href="#"><span>حذف از لیست</span> <i class="fa fa-times"></i></a>
                            </td>
                            <td class="row_remove">
                                <a href="#"><span>حذف از لیست</span> <i class="fa fa-times"></i></a>
                            </td>
                            <td class="row_remove">
                                <a href="#"><span>حذف از لیست</span> <i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>